# Node / Next.js
node_modules/
.next/
out/
build/
.vercel/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# TypeScript incremental
*.tsbuildinfo

